<app-navbar title="Teachers"></app-navbar>
<div class="add-btn-container">
  <div class="add-btn-elements-container">
    <input id="teacher-search" class="search-input" #box (keyup)="search(box.value)" placeholder="Search">
    <button class="btn add-button" (click)="addNewTeacher()">Add New &nbsp;<fa-icon [icon]="faPlus"></fa-icon></button>
  </div>
</div>
<div class="table-container">
  <table id="teacher-table">
    <tr>
      <th>Name</th>
      <th>Staff ID</th>
      <th>DOB</th>
      <th class="action-column"></th>
      <th class="action-column"></th>
    </tr>
    <tr *ngFor="let teacher of teacherData">
      <td>{{teacher[0].name}}</td>
      <td>{{teacher[0].id}}</td>
      <td>{{2022 - teacher[0].age}}</td>
      <td id="teacher-edit-{{teacher[0].id}}" (click)="editTeacher(teacher[0].id)" class="action-cell">
        <fa-icon class="edit-icon" [icon]="faPenSquare"></fa-icon>
      </td>
      <td id="teacher-delete-{{teacher[0].id}}" (click)="deleteTeacher(teacher[0].id)" class="action-cell delete-cell">
        <fa-icon class="trash-icon" [icon]="faTrash"></fa-icon>
      </td>
    </tr>
  </table>
</div>