<app-navbar title="Students"></app-navbar>
<div class="add-btn-container">
  <div class="add-btn-elements-container">
    <input id="student-search" class="search-input" #box (keyup)="search(box.value)" placeholder="Search">
    <button class="btn add-button" (click)="addNewStudent()">Add New &nbsp;<fa-icon [icon]="faPlus"></fa-icon></button>
  </div>
</div>
  <div class="table-container">
      <table id="student-table">
          <tr>
            <th>Name</th>
            <th>Student ID</th>
            <th>DOB</th>
            <th>Hometown</th>
            <th class="action-column"></th>
            <th class="action-column"></th>
          </tr>
          <tr *ngFor="let student of studentData">
            <td>{{student[0].name}}</td>
            <td>{{student[0].id}}</td>
            <td>{{2022 - student[0].age}}</td>
            <td>{{student[0].hometown}}</td>
            <td id="student-edit-{{student[0].id}}" (click)="editStudent(student[0].id)" class="action-cell"><fa-icon  class="edit-icon" [icon]="faPenSquare"></fa-icon></td>
            <td id="student-delete-{{student[0].id}}" (click)="deleteStudent(student[0].id)" class="action-cell delete-cell"><fa-icon  class="trash-icon" [icon]="faTrash"></fa-icon></td>
          </tr>
        </table>
  </div>